html {
    --color-primary: #000000;
    --background-primary: #ffffff;
    --color-secondary: #919191;
    --color-danger: #ffffff;
    --background-danger: #ca0000;
    --color-info: #ffffff;
    --background-info: #006faf;
}

p {
    position: relative;
    width: fit-content;
}

span {
    padding: 10px 5px;
}

components-tooltip {
    background-color:var(--background-primary, blue);
    color: var(--color-primary, white);
    padding: 40px 20px;
    border: 1px solid var(--color-secondary)
}

components-tooltip.important {
    background-color: var(--background-danger, red);
    color: var(--color-danger, white);
}