div {
    width: 200px;
    display: none;
    padding: 40px;
    color: aliceblue;
    background-color: tomato;

    position: relative;
}

button {
    padding: 20px 40px;
    background-color: green;
    color: white;
}

p {
    background-color: aquamarine;
    color: white;
}

::slotted(span) {
    color: green;
    background-color: yellow;
}