:host {
    display: block;
    background-color: var(--background-primary, white);
    color: var(--color-primary, black);
}

:host(.important) {
    background-color: var(--background-info, blue);
    color: var(--color-info);
}

:host-context(p) {
    font-style: italic;
}

div {
    padding: 5px;
    background-color:var(--background-info, blue);
    color: var(--color-info, white);
    position: absolute;
    right: -30px;
    top: -20px;
}

p {
    position: relative;
}

span {
    background-color:var(--background-info, blue);
    color: var(--color-info, white);
    padding: 0.3rem 0.6rem;
    border-radius: 5rem;
    cursor: pointer;
}
