:host {
    display: block;
}

:host(.important) {
    background-color: tomato;
}

:host-context(p) {
    font-style: italic;
}

div {
    padding: 5px;
    background-color: blue;
    color: white;
    position: absolute;
    right: -30px;
    top: -20px;
}

p {
    position: relative;
}

span {
    background-color: blue;
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 5rem;
    cursor: pointer;
}
